<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Register</title>
</head>
<body>
    <div class="register-form">
        <h1>Form Registracion</h1>
        <form action="register" method="POST">
            <label for="user">User Name</label>
            <input type="text" name="username" required>

            <label for="user">Full Name</label>
            <input type="text" name="fullname" required>

            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="select-css">
                <option value="admin" selected>Admin</option>
                <option value="user" selected>Data Entry</option>
            </select>

            <label for="user">Password</label>
            <input type="password" name="password" required>

            <div style="display:inline;">
                <a href="/" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="save" ></input>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (typeof alert !== 'undefined' && alert) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>';
            });
        </script>
    <% } %>
    
     
</body>
</html>